/* Make sidebar author name larger */
.author__name {
    font-size: 1.6em !important;
    font-weight: 450 !important;
   /* Prevent breaking at hyphens */
    word-break: keep-all;
    hyphens: none;

}

.author__name .surname {
    font-weight: 700;
}

/* Make the sidebar wider */
$sidebar-link-max-width: 350px;  /* Increase from 250px to 350px */

/* Optional: adjust sidebar content width */
.sidebar {
    max-width: 350px;
}

.page-content {
    text-align: justify;
}
